<div style="height: 100%">
  <mat-toolbar >
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Eco-Hosting</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <a routerLink="/start" mat-button>Home</a>
        <a routerLink="/packages" mat-button>Packages</a>
        <a routerLink="/features" mat-button>Features</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list
        class="sidenav-style"
        fxLayout="column">
        <a routerLink="/start" mat-button>Home</a>
        <a routerLink="/packages" mat-button>Packages</a>
        <a routerLink="/features" mat-button>Features</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

