.login-btn-style {
  background: #e83e8c !important;
  color: #E4E4E4 !important;
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  height: 40px;
  cursor: pointer;
  width: 100%;
}

:host ::ng-deep .body .theme-default .mat-input-element{
  color:white !important;
}

.theme-color {
  color: #e83e8c !important;
}

.background-color {
  background-color: #343a40 !important;
}

.bold {
  font-weight: 600;
}

.text-color {
  color: #E4E4E4;
}

.font-size-16 {
  font-size: 16px;
}

.clickable-link {
  text-decoration: underline;
  cursor: pointer;
}


:host ::ng-deep .input {
  background-color: #4B0082;
  background-image: none !important;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}
:host ::ng-deep input.mat-input-element {
  color: white;
}
