<h2 mat-dialog-title fxLayoutAlign="center">Data Table</h2>
<mat-dialog-content class="mat-typography">

  <div style="min-width: 80vh; height: auto">
    <app-datatable></app-datatable>
  </div>

<!--  <p>Achieve the maximum speed possible on the Web Platform today, and take it further, via Web-->
<!--    Workers and server-side rendering. Angular puts you in control over scalability. Meet huge-->
<!--    data requirements by building data models on RxJS, Immutable.js or another push-model.</p>-->

</mat-dialog-content>



