<div style="height: 100%" fxLayoutAlign="center center" >

  <div fxLayoutAlign="center center" fxFlex="100" style="height: 100%" >
    <mat-card
      fxFlex="90"
      fxFlex.gt-xs="1 1 60%"
      fxFlex.gt-md="35"
      style="height: 90%"
      fxLayoutAlign="center center">

      <div fxLayout="column"  fxLayoutGap="40px" fxFlex="90%"  fxFlex.gt-xs="1 1 80%">
        <div>
          <mat-card-title fxLayoutAlign="center center">Registration Here</mat-card-title>
        </div>

        <mat-card-content>
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div fxLayout="column" fxLayoutGap="40px">
              <div fxLayout="column" fxLayoutGap="8px">
                <p class="bold font-size-16">Full Name</p>
                <mat-form-field>
                  <mat-label> Full Name</mat-label>
                  <input matInput formControlName="name">
                </mat-form-field>
                <p class="bold font-size-16">Email Address</p>
                <mat-form-field>
                  <mat-label> Email Address</mat-label>
                  <input matInput formControlName="email">
                </mat-form-field>
                <p class="bold font-size-16">Password</p>
                <mat-form-field>
                  <mat-label> Password </mat-label>
                  <input type="password" matInput formControlName="password">
                </mat-form-field>
                <p class="bold font-size-16">Confirm Password</p>
                <mat-form-field>
                  <mat-label> Confirm Password </mat-label>
                  <input type="password" matInput formControlName="confirmPassword">
                </mat-form-field>
              </div>

              <div fxLayout="column" fxLayoutGap="32px">
                <div fxLayoutAlign="center center">
                  <button
                    mat-button
                    type="submit"
                    class="login-btn-style">Registration</button>
                </div>

                <div fxLayout="column" fxLayoutGap="8px">
                  <p> <a class="theme-color clickable-link" (click)="onLogin()">login</a> </p>
                </div>
              </div>
            </div>
          </form>
        </mat-card-content>
      </div>


    </mat-card>
  </div>

</div>

