.server-img-style {
  width: 54px;
  height: 54px;
  background: transparent;
}

.btn-style {
  color: #F067FF !important;
  border: 1px solid #F067FF;
  box-sizing: border-box;
  border-radius: 40px;
  font-size: 16px;
  height: 50px;
  cursor: pointer;
  width: 170px;
}
