<div
  class="deep-indigo-background"
  fxLayoutAlign="center center"
  style="width: 100%"
  ngClass.gt-xs="full-height">

  <div fxLayoutAlign="center center">
    <div
      fxFlex="90%"
      fxFlex.gt-xs="70"
      fxLayout="column"
      fxLayoutGap="28px">
      <div
        fxLayout="column"
        fxLayoutGap="30px"
        fxLayoutAlign="center center">
        <div class="font-size-40 white-text bold">
          Choose plan which fit for you
        </div>
        <div class="font-size-18 light-indigo-text">
          Supercharge your WordPress hosting with detailed website analytics,
          marketing tools.Supercharge your WordPress hosting with detailed website analytics,
          marketing tools!
        </div>
      </div>

      <div fxLayout="column"
           fxLayout.gt-xs="row"
           fxLayoutGap="20px">
        <div fxFlex="33">
          <div fxLayout="column"
               style="background-color: #ffffff; border-radius: 5px; padding-top: 16px; padding-bottom: 16px"
               fxLayoutAlign="center center"
               fxLayoutGap="24px"
               fxFlex="100">
            <div>
              <img class="server-img-style" src="../../../assets/server.png">
            </div>
            <div class="font-size-30 indigo-txt">
              Dedicated Hosting
            </div>
            <div
              fxLayout="column"
              fxLayoutGap="16px">
              <div>
                Starting at
              </div>
              <div>
                <span class="indigo-txt font-size-30 bold">$4.67</span>
                <span class="light-txt">/month</span>
              </div>
            </div>

            <mat-divider></mat-divider>

            <div
              class="card-txt"
              fxLayout="column">
              <p>2 TB of space</p>
              <p>Unlimited bandwidth</p>
              <p>Full Backup Systems</p>
              <p>Free domain</p>
              <p>Unlimited Database</p>
            </div>

            <div>
              <button mat-button
                      class="btn-style">GET STARTED
              </button>
            </div>
          </div>
        </div>
        <div fxFlex="33">
          <div fxLayout="column"
               style="background-color: #ffffff; border-radius: 5px; padding-top: 16px; padding-bottom: 16px"
               fxLayoutAlign="center center"
               fxLayoutGap="24px">
            <div>
              <img class="server-img-style" src="../../../assets/server.png">
            </div>
            <div class="font-size-30 indigo-txt">
              Cloud Hosting
            </div>
            <div
              fxLayout="column"
              fxLayoutGap="16px">
              <div>
                Starting at
              </div>
              <div>
                <span class="indigo-txt font-size-30 bold">$4.67</span>
                <span class="light-txt">/month</span>
              </div>
            </div>

            <div>
              <mat-divider></mat-divider>
            </div>

            <div
              class="card-txt"
              fxLayout="column">
              <p>2 TB of space</p>
              <p>Unlimited bandwidth</p>
              <p>Full Backup Systems</p>
              <p>Free domain</p>
              <p>Unlimited Database</p>
            </div>

            <div>
              <button mat-button
                      class="btn-style">GET STARTED
              </button>
            </div>
          </div>
        </div>
        <div fxFlex="33">
          <div fxLayout="column"
               style="background-color: #ffffff; border-radius: 5px; padding-top: 16px; padding-bottom: 16px"
               fxLayoutAlign="center center"
               fxLayoutGap="24px">
            <div>
              <img class="server-img-style" src="../../../assets/server.png">
            </div>
            <div class="font-size-30 indigo-txt">
              Shared Hosting
            </div>
            <div
              fxLayout="column"
              fxLayoutGap="16px">
              <div>
                Starting at
              </div>
              <div>
                <span class="indigo-txt font-size-30 bold">$4.67</span>
                <span class="light-txt">/month</span>
              </div>
            </div>

            <div>
              <mat-divider></mat-divider>
            </div>

            <div
              class="card-txt"
              fxLayout="column">
              <p>2 TB of space</p>
              <p>Unlimited bandwidth</p>
              <p>Full Backup Systems</p>
              <p>Free domain</p>
              <p>Unlimited Database</p>
            </div>

            <div>
              <button mat-button
                      class="btn-style">GET STARTED
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
