<div class="deep-indigo-background"
     fxLayoutAlign="center center"
     fxLayoutAlign.gt-xs="start start"
     fxFlex>

  <div  fxLayout="column"
        fxFlex="80"
        fxFlex.gt-xs="70"
        fxLayoutGap="24px">
    <div class="light-indigo-text font-size-18">
      Best Domain & hosting service provider
    </div>

    <div class="white-text bold font-size-30">
      <p>Powerful web hosting</p>
    </div>

    <div class="white-text font-size-18">
      <p>Supercharge your WordPress hosting with detailed website analytics,
        marketing tools, security, and data backups all in one place.</p>
    </div>

    <div>
      <button mat-button
              class="btn-style">Get Started
      </button>
    </div>

  </div>


</div>
