<div class="deep-indigo-background"
     fxLayoutAlign="center center"
     fxLayoutAlign.gt-xs="start start"
     fxFlex
     fxLayout="column"
      fxLayoutGap="20px">
<div fxFlex="80" fxLayoutAlign="center center">
  <div  fxLayout="column"
        fxFlex="80"
        fxFlex.gt-xs="70"
        fxLayoutGap="24px">
    <div class="light-indigo-text font-size-18">
      Best Domain & hosting service provider
    </div>

    <div class="white-text bold font-size-30">
      <p>Powerful web hosting</p>
    </div>

    <div class="white-text font-size-18">
      <p>Supercharge your WordPress hosting with detailed website analytics,
        marketing tools, security, and data backups all in one place.</p>
    </div>

    <div>
      <button mat-button
              class="btn-style">Get Started
      </button>
    </div>

  </div>
</div>

  <div style="color: #dc3545"
      fxLayoutAlign="center center">
    <div
      fxFlex="80">
      <div fxLayout="column"
      fxLayoutGap="20px">
        <div class="white-text font-size-30">
          Search new domain
        </div>

        <div class="white-text">
          Supercharge your WordPress hosting with detailed website analytics,
          marketing tools.
        </div>

        <div
          fxLayoutAlign="start center"
          class="search-wrapper">
          <div class="search"
               fxLayout="row"
               fxLayoutAlign="space-between center">
            <mat-icon><span class="material-icons">language</span></mat-icon>
            <div>
              <input placeholder="Search for a domain" formControlName="searchKey" fxFlex>
            </div>
            <mat-icon>search</mat-icon>
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="8px">
            <div class="font-size-20">.com </div>
            <div class="font-size-16 white-text">$15.99 |    </div>
            <span class="font-size-20">$.net     </span>
            <span class="font-size-20 white-text">$10.99 |    </span>
        </div>
      </div>
    </div>
  </div>

</div>




